{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block body %}
<div style="min-height: 75vh; display:flex; align-items:center">
    <div class="container-fluid py-5 text-center">
        <h1>Approve accounts page</h1>
        {% for account in accounts %}
            <h1>{{account[1]}} {{account[2]}}</h1>
            <h2>Username: {{account[0]}}</h2>
            <h2>SSN: {{account[3]}}</h2>
            <h2>Address: {{account[4]}}</h2>
            <h2>Phone #: {{account[5]}}</h2>
            <form action="/approve" method="post">
                <input type="hidden" name="user" value="{{account[0]}}"></input>
                <input type="hidden" name="choice" value="approve"></input>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Approve</button>
                </div>
            </form>
            <form action="/approve" method="post">
                <input type="hidden" name="user" value="{{account[0]}}"></input>
                <input type="hidden" name="choice" value="disapprove"></input>
                <div class="mb-3">
                <button class="btn btn-primary" type="submit">Delete</button>
                </div>
            </form>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}